@use '../../_css/common.scss' as *;
@import "../../_css/common.scss";

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  width: 100%;
  margin-top: 5rem;

  @include large-break {
    gap: 2rem;
  }

  @include small-break {
    grid-template-columns: 1fr;
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: center;

    .mediaWrap {
      position: relative;
      flex: 1;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.7);

      .placeholder {}

      .image {
        object-fit: contain;
        max-width: 100%;
      }

    }

    @include small-break {
      min-height: 250px;
    }
  }


  .details {
    position: relative;
    display: flex;
    flex-direction: column;

    .titleWrap {
        margin-bottom: 3rem;

      .title {
        font-size: 37px;
        text-wrap: pretty;
        margin-bottom: 10px;
        
        @include large-break {
          font-size: 33px;
        }
        
        @include mid-break {
          font-size: 27px;
        }
        
        @include small-break {
          font-size: 35px;
        }
      }
      
      .categories {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        padding-left: 10px;

        .category {
          font-size: 17px;
        }
        
        .separator {
          color: var(--color-gray-500);
          padding: 0 10px;
        }
        
        .stock {
          color: var(--color-green-500);
        }
      }
    }

  }

  .description {
    display: flex;
    flex-direction: column;

    h6 {
      font-size: 25px;
      font-weight: 500;
    }

    @include small-break {
      margin-bottom: 7rem;
    }
  }

  .addToCartButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }


}