@import "../../_css/queries.scss"; 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
    .artistsWrapper {
        column-count: 3;


        @include small-break {
            column-count: 1;
        }
    }

}