@import "../../../_css/queries.scss";

.artistCard {
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;



    img {
        padding: 10px 5px;
    }


    .artistText {
        padding: .25rem 1rem;
        h3 {
            color:#000;
            font-size: 28px;
            font-weight: 400;
        }
    }
}