@import "../../../_css/queries.scss";

.artistCard {
    position: relative;
    min-height: 325px;

        img {
            object-fit: cover;
        }

        .artistText {
            position: absolute;
            bottom: 25px;
            left: 25px;
            color: #FFF;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                font-size: 35px;
                font-weight: 400;
            }

            p {
                font-size: 17px;
            }
        }
}