@use "../../_css/queries.scss" as *;

.mailingList {
  padding: 4rem 2rem;
  

  .wrapper {
    width: 100%;
    max-width: 1540px;
    height: 35vh;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    .text {
      flex: 2;
      background-color: #34455a;
      color: #FFFFFF;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        padding: 4rem 0;
        
        h2 {
          line-height: 1;
          font-weight: 300;
          font-size: 3.5rem;

          @include extra-mid-break {
            font-size: 2.87rem;
          } 
          
          @include mid-break {
            font-size: 4rem;
          } 

          @include small-break {
            font-size: 7.5vw;
            font-weight: normal;
          }
        }
        
        ul {
          list-style: square;
          display: flex;
          flex-direction: column;
          gap: 10px;
          
          li {
            font-size: 1.25rem;
            font-weight: 300;
            
            @include extra-mid-break {
              font-size: 1.1rem;
            } 
            
            @include mid-break {
              font-size: 1.57rem;
            } 
            
            @include small-break {
              font-size: 14px;
              font-weight: 300;
            } 
            
          }
          @include small-break {
            list-style: none;
            text-wrap: stable;
            padding: 1rem;
            line-height: 1.1;
          }
        }
      }

      @include mid-break {
        flex: 2.5;
      }
    }

    .btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
      background-color: #34455a;
      color: #FFFFFF;
      padding: .87rem 2rem;
      font-size: 1.5rem;
      border-radius: 3px;
      }

      @include mid-break {
        padding: 1rem 0;
      }
    }

    @include mid-break {
      flex-direction: column;
      min-height: 60vh;
    }

  }

  @include mid-break {
    padding: 4rem .5rem;
  }
}