@use "../../_css/queries.scss" as *;

.mailingList {
  padding: 4rem 2rem;
  

  .wrapper {
    width: 100%;
    max-width: 1600px;
    min-height: 35vh;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    .text {
      flex: 2;
      background-color: #34455a;
      color: #FFFFFF;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        
        h2 {
          line-height: 1;
          font-size: 3.1rem;
          margin-bottom: 1rem;

          @include extra-mid-break {
            font-size: 2.5rem;
          } 
          
          @include mid-break {
            font-size: 3.5rem;
          } 

          @include small-break {
            font-size: 2.75rem;
          }

          @include extra-small-break {
            font-size: 2rem;
            text-align: center;
          }
        }
        
        ul {
          list-style: square;
          display: flex;
          flex-direction: column;
          gap: 10px;
          
          li {
            font-size: 1.25rem;
            
            @include extra-mid-break {
              font-size: 1.1rem;
            } 
            
            @include mid-break {
              font-size: 1.55rem;
            } 
            
            @include small-break {
              font-size: 1.25rem;
            } 
            
            @include small-break {
              font-size: 1rem;
            } 
            
            @include extra-small-break {
              font-size: .87rem;
            } 
            
          }
          @include small-break {
            text-wrap: stable;
            line-height: 1.1;
            text-align: center;
          }
          
          @include extra-small-break {
            list-style: none;
          }
        }

        @include mid-break {
          padding: 3rem 1rem;
        }
      }

    }

    .btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
      background-color: #34455a;
      color: #FFFFFF;
      padding: .87rem 2rem;
      font-size: 1.5rem;
      border-radius: 3px;
      }

      @include mid-break {
        padding: 1rem 0;
      }
    }

    @include mid-break {
      flex-direction: column;
      border-bottom: 1px solid black;
    }

    @include small-break {
      min-height: 10vh;
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
    }

  }

  @include mid-break {
    padding: 4rem .5rem;
  }

  @include small-break {
    padding: 4rem 0;
  }
}