.container {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100%;
    max-width: 1540px;
    height: 35vh;
    border-radius: 5px;
    display: flex;
    overflow: hidden;


    .text {
      flex: 2;
      background-color: #aeb5bd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem 3rem 0;

      div {
        flex: 1;
        
        h2 {
          font-size: 60px;
        }
        
        p {
          font-size: 20px;
          margin: 2rem 0 1rem;
          font-style: italic;
          font-weight: 700;
        }
        
        ul {
          height: 100%;
          list-style-type: disc;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          
          li {
            font-size: 20px;
          }
        }
      }
    }

    .btn {
      flex: 1;
      background-color: #e5e4e6;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      .imageWrap {
        flex: 1.25;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          position: relative;
          aspect-ratio: 1/1;
          height: 100%;

          img {
            object-fit: contain;
            border-radius: 50%;
            filter: grayscale(65%);
          }
        }
      }

      .link {
        flex: 1;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;

        p {
          text-align: center;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 24px;
        }

        a {
          padding: .375rem 0;
          background-color: #34455a;
          color: #FFFFFF;
          letter-spacing: 1px;
          border-radius: 5px;
          font-weight: bold;
          text-align: center;
        }
      }

    }
  }
}