// Keep these in sync with the breakpoints exported in '../cssVariables.js'

$breakpoint-xs-width: 624px;
$breakpoint-s-width: 768px;
$breakpoint-m-width: 1024px;
$breakpoint-xm-width: 1248px;
$breakpoint-l-width: 1440px;
$breakpoint-xl-width: 1540px;

@mixin extra-small-break {
  @media (max-width: #{$breakpoint-xs-width}) {
    @content;
  }
}

@mixin small-break {
  @media (max-width: #{$breakpoint-s-width}) {
    @content;
  }
}

@mixin mid-break {
  @media (max-width: #{$breakpoint-m-width}) {
    @content;
  }
}

@mixin extra-mid-break {
  @media (max-width: #{$breakpoint-xm-width}) {
    @content;
  }
}

@mixin large-break {
  @media (max-width: #{$breakpoint-l-width}) {
    @content;
  }
}

@mixin extra-large-break {
  @media (max-width: #{$breakpoint-xl-width}) {
    @content;
  }
}
