@import "../../_css/queries.scss";

.container {
    position: relative;
    height: 100%;
    padding: 3rem 7rem;

    .flyerWrapper {
        height: 100%;
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        
        .flyer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        @include mid-break {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
