@import "../../_css/queries.scss";

.container {
    position: relative;
    width: 100%;
    max-width: 1540px;
    min-height: 65vh;
    margin: 2rem auto;
    padding: 5rem 2rem;

    .flyerText {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        h2 {
            font-size: 47px;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    .flyerWrapper {
        min-height: 65vh;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        border: 2px solid black;

        .flyer {
            position: relative;
        }
    }
}
