@use '../../../_css/queries.scss' as *;

.card {
    position: relative;
    border: 5px solid rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        position: absolute;
    }
}