@use '../../../_css/queries.scss' as *;

.card {
    position: relative;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    @include extra-small-break {
        min-width: 75%;
    }
}