@use "../../../_css/queries.scss" as *;

.header {
  padding: 0 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  .wrap {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: calc(var(--base) / 2) var(--base);
    position: relative;

    @include small-break {
      flex-direction: column;
      justify-content: center;
      gap: 0;
      padding-bottom: 1rem;
    }
  }

}

.hide {
  display: none;
}