@import '../../_css/common';

.relatedProducts {
  width: 100%;
  margin-top: 5rem;

  .title {
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

    @include mid-break {
      gap: 20px;
    }

    @include small-break {
      grid-template-columns: 65%;
    }
  }

}