@use '../../_css/queries.scss' as *;

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem;

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:4rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 45vh;
    border: 7px solid teal;
    padding: 1rem;
    gap: 2rem;
  

    @include large-break {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include extra-mid-break {
      gap: 1rem;
    }
    
    @include small-break {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}

