@use "../../../_css/queries.scss" as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  visibility: visible;

  > * {
    text-decoration: none;
  }

  .loginBtn {

    span {
      font-size: 15px;
      font-weight: bold;
      color: #000;
      text-transform: uppercase;
      border: 1px solid black;
      border-radius: 2px;
      padding: 7px 10px 5px 10px;

      @include small-break {
        background-color: #000;
        color: #FFFFFF;
        border: none;
      }
    }
  }
}

.links {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.hide {
  opacity: 0;
  visibility: hidden;
}