@use "../../../_css/queries.scss" as *;


.footer {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 355px;
  background-color: #000;
  padding: 1rem 0 2rem;

  .footerWrap {
    width: 77%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

    .logo,
    .socialLinks {
      flex: 1;
      display: flex;
    }
    
    .logo {
      align-items: center; 
      justify-content: flex-start;
    }

    .copyright {
      flex: 1.5;
      height: 5.2vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: #fff;
      
      p {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        white-space: nowrap;
      }

      @include extra-small-break {
        align-items: center;
        flex: 1;
        order: 3;
      }
    }

    .socialLinks {
      align-items: center;
      justify-content: flex-end;
    
      .iconWrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {

          @include extra-small-break {
            width: 20px;
            height: 20px;
          }
        }

        span {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    @include mid-break {
      width: 97%;
    }
    @include extra-small-break {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }

  }
}