@import '../../_css/queries.scss';


.container {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100%;
    max-width: 1540px;
    height: 73vh;
    max-height: 80vh;
    border-radius: 5px;
    border: 2px solid black;
    background-color: antiquewhite;

    background-image: linear-gradient(#000000 2px, transparent 2px), linear-gradient(to right, #000000 2px, rgba(229, 229, 247, 0) 2px);
    background-size: 34.4px 34.4px;
    background-position: center;

    .imageWrap {
      position: relative;
      height: 100%;
      width: 70%;
      margin: 0 auto;

      .image {
        object-fit: cover;
        padding-bottom: 2.5rem;
      }

      @include mid-break {
        width: 100%;
      }
    }
  }



}