@import '../../_css/queries.scss';


.container {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .wrapper {
    width: 100%;
    max-width: 1540px;
    height: 69vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    border-radius: 5px;
  }

  .mailer {
    height: 45vh;
    display: flex;
    width: 100%;
    max-width: 1540px;
    
  }
}