@import '../../../_css/common';

.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include extra-large-break {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 7rem;
  }
  
  @include large-break {
    flex-direction: column;
    gap: 30px 0;
  }

  
  .categories, .sortBy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .title {
      font-size: 25px;
      font-weight: bold;
      white-space: nowrap;
    }

    .inputWrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 25px;
      
      @include extra-large-break {
        flex-direction: row;
      }
    }

    .laws {
      margin-top: 1rem;
      font-size: 25px;
    }

    .lawBtn {
      padding: 0.35rem 2rem;
      background-color: #000;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      span {
        padding-top: 5px;
        font-size: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
    
    @include large-break {
      flex-direction: column;
      gap: 10px;
    }
  }

  .categories .inputWrap {
    flex-wrap: wrap;
  }
}